{
  presets: ['react-native'],
  plugins: [
    [
      'module-resolver',
      {
        root: ['/'],
        alias: {
          '@/pages': './src/pages',
          '@/configs': './src/configs',
          '@/components': './src/components'
        }
      }
    ]
  ]
}
